<body>
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand text-success navabar-fixed" href="">Localiza</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Cadastro de Cliente </a>
                    <a class="nav-link" href="/">Cadastro de Veiculos</a>
                    <a class="nav-link" href="/">Cadastro de Reservas</a>
                    <a class="nav-link" href="/clientes">Clientes cadastrados</a>
                    <a class="nav-link" href="/veiculos">Veiculos cadastrados</a>
                    <a class="nav-link" href="/reservas">Reservas cadastradas</a>
                    <a class="nav-link text-danger" href="/edit">Editar</a>
                    <a class="nav-link text-warning" href="/delete">Delete</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-success">Localiza</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="text-center" id="cadastro_cliente">Editar Clientes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="/clientes/alterado/:id" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email">
                        
                    </div>
                    <div class="mb-3">
                        <label for="endereco" class="form-label">Endereço</label>
                        <input type="rext" class="form-control" id="endereco" name="endereco">
                    </div>
                    <div class="mb-3" id="name" >
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div class="mb-3" id="telefone">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input type="telephone" class="form-control"  name="telefone" maxlength="11">
                    </div>
                    <div class="mb-3" id="id">
                        <label for="id" class="form-label">Id</label>
                        <input type="text" class="form-control"  name="id">
                    </div>
                    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center" id="cadastro_veiculos">Cadastro de Veiculos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="/veiculos/alterado/:id" method="POST">
                    <div class="mb-3">
                        <label for="marca" class="form-label">Marca do Carro</label>
                        <input type="text" class="form-control" id="marca" name="marca">       
                    </div>
                    <div class="mb-3">
                        <label for="modelo" class="form-label">Modelo do Carro</label>
                        <input type="text" class="form-control" id="modelo" name="modelo">
                    </div>
                    <div class="mb-3" id="ano" >
                        <label for="ano" class="form-label">Ano do Carro</label>
                        <input type="text" class="form-control" name="ano">
                    </div>
                    <div class="mb-3" id="placa">
                        <label for="placa" class="form-label">Placa do Carro</label>
                        <input type="text" class="form-control"  name="placa">
                    </div>
                    <div class="mb-3" id="cor">
                        <label for="cor" class="form-label">Cor do Carro</label>
                        <input type="text" class="form-control"  name="cor">
                    </div>
                    <div class="mb-3" id="dispo">
                        <label for="dispo" class="form-label">Disponibilidade S ou N</label>
                        <input type="text" class="form-control"  name="dispo">
                    </div>
                    <div class="mb-3" id="id1">
                        <label for="id" class="form-label">Id</label>
                        <input type="text" class="form-control"  name="id">
                    </div>
                    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center" id="cadastro_reservas">Cadastro de Reservas</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="/reservas/alterado/:id" method="POST">
                    <div class="mb-3">
                        <label for="id_cliente" class="form-label">Id do Cliente</label>
                        <input type="text" class="form-control" id="id_cliente" name="id_cliente">
                        
                    </div>
                    <div class="mb-3">
                        <label for="id_veiculo" class="form-label">Id do veiculo</label>
                        <input type="text" class="form-control" id="id_veiculo" name="id_veiculo">
                    </div>
                    <div class="mb-3" id="data_retirada" >
                        <label for="data_retirada" class="form-label">Data retirada</label>
                        <input type="text" class="form-control" name="data_retirada">
                    </div>
                    <div class="mb-3" id="data_devolucao">
                        <label for="data_devolucao" class="form-label">Data de devolucao</label>
                        <input type="text" class="form-control"  name="data_devolucao" >
                    </div>
                    <div class="mb-3" id="id2">
                        <label for="id" class="form-label">Id</label>
                        <input type="text" class="form-control"  name="id">
                    </div>
                    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>